<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do list</title>
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="root">
        <h1>To-Do List</h1>
        <div id="container">
            <div class="addtodo">
                <input type="text" name="addtodo" placeholder="Add a to-do" v-model="newtodo" @keyup.enter="addnewtodo(newtodo)" autofocus>
                <button @click="addnewtodo(newtodo)">AGGIUNGI</button>
                <p id="error" :class="(copia == true || empty == true) ? 'show' : 'hide'">{{ errors[errorindex] }}</p>
            </div>
            <div id="todos">
                <div class="todo" v-for="elm, i in todo" @click="tododone(i)">
                    <p :class="(elm.done == true) ? 'done' : ''">{{ todo[i].text }}</p><i class="fa-solid fa-trash-can"
                        @click="deletetodo(i)"></i>
                </div>
            </div>
            </div>
        </div>
        <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script defer src="./assets/scripts/script.js" rel="text/javascript"></script>
</body>

</html>