<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <div id="root">
        <div id="container">
            <div class="arrow" @click="previmg()">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="image">
                <img v-for="elm in imgs" :src="elm.url" v-if="elm.imgshown">
                <div class="slider">
                    <div v-for="elm in imgs" class="dot"></div>
                </div>
            </div>
            <div class="arrow" @click="nextimg()">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./assets/scripts/script.js" rel="text/javascript"></script>
</body>

</html>