*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color: white;
    font-size: 28px;
    font-family: 'Noto Sans', sans-serif;
}

::selection{
    background-color: orange;
}

body{
    background: rgb(24, 24, 24);
}

h1{
    font-size: 3rem;
    text-align: center;
    margin: 30px;
}

#container{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.addtodo button{
    display: none;
    position: absolute;
    margin-left: -134px;
    margin-top: 6px;
    padding: 10px 15px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 0.7rem;
    line-height: 26px;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    cursor: pointer;
}

.addtodo:hover button{
    display: inline-block;
}

.addtodo input{
    width: 100%;
    background: rgb(77, 77, 77);
    border-radius: 8px;
    font-size: 1rem;
    line-height: 38px;
    margin: 0 0 50px;
    padding: 10px 15px;
    color: black;
    outline: none;
    border: none;
}

.todo{
    width: 100%;
    background: rgb(77, 77, 77);
    border-radius: 8px;
    margin: 20px 0;
    padding: 10px 0px 10px 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.todo:hover i{
    display: block;
}

.todo i{
    display: none;
    margin-top: 5px;
    padding: 0px 15px;
}

.todo i:hover{
    color: rgb(173, 0, 0);
}

.done{
    color: rgb(32, 32, 32);
    text-decoration: line-through;
}